#navigation {
  z-index: 3;
  position: relative;
}

#navigation .navbar {
  background-color: transparent;
  height: 65px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#navigation .navbar-brand1 {
  width: 5%;
  margin-left: 2%;
}

#navigation .navbar-brand1 .logo-light {
  max-width: 100%;
}

#navigation .navbar-brand2 {
  position: absolute;
  width: 5%;
  left: 3%;
  display: none;
}

#navigation .navbar-brand2 .logo-dark {
  max-width: 100%;
}

#navigation .navbar-nav {
  margin-left: 25px;
}

#navigation .navbar-nav .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10px;
  list-style: none;
}

#navigation .navbar-nav .nav-item a {
  color: #f8f8f8;
  font-size: 0.625em;
  letter-spacing: 1.5px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#navigation .navbar-nav .nav-item a:hover {
  color: #e9e9e9b7;
}

#navigation .navbar-nav .nav-item .dropdown-menu {
  background-color: #232323;
}

#navigation .navbar-nav .nav-item .dropdown-menu a {
  padding-top: 10px;
  color: #767676;
}

#navigation .navbar-nav .nav-item .dropdown-menu .active-item {
  color: #f8f8f8;
}

#navigation .navbar-right-side {
  height: 65px;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}

#navigation .navbar-right-side ul {
  margin-top: 5px;
  list-style: none;
}

#navigation .navbar-right-side ul li i {
  margin-top: 20px;
  color: #f8f8f8;
  padding-right: 30px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#navigation .navbar-right-side ul li i:hover {
  color: #e9e9e9b7;
}

#navigation .scrolled {
  background-color: #fdfdfd;
  -webkit-transition: all 0.4;
  transition: all 0.4;
}

#intro {
  background-image: url("../img/hero1.jpg");
  padding: 260px 0;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
}

#intro::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #232323;
  opacity: 0.3;
  z-index: 1;
}

#intro .intro-content div {
  z-index: 2;
}

#intro .intro-content .intro-text {
  color: #f8f8f8;
  font-size: 1.4375em;
  line-height: 1.69565217em;
  margin-top: 48px;
  font-family: "Lora", "Helvetica", "Arial", sans-serif;
}

#intro .intro-content img {
  width: 66%;
}

#intro .intro-content .intro-video a {
  color: #f8f8f8;
  background-color: #425cbb;
  padding: 18px 52px;
  border-radius: 50px;
  font-size: 0.625em;
  letter-spacing: 2px;
  text-decoration: none;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

#intro .intro-content .intro-video a:hover {
  background-color: #5974d3;
}

#intro .intro-content .intro-icons {
  position: absolute;
  top: 180px;
  left: 35%;
}

#intro .intro-content .intro-icons i {
  color: #e9e9e9b7;
  font-size: 27px;
  padding-left: 47px;
  cursor: pointer;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

#intro .intro-content .intro-icons i:hover {
  color: white;
}

#digital-delivered {
  padding: 100px 0;
  background-color: #fdfdfd;
}

#digital-delivered .digital-delivered-header h2 {
  color: #343434;
  font-size: 2em;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 1.421875em;
}

#digital-delivered .digital-delivered-header p {
  color: #767676;
  font-size: 1.4375em;
  font-family: "Lora", "Helvetica", "Arial", sans-serif;
  line-height: 1.69565217em;
}

#digital-delivered .digital-delivered-buttons {
  margin-top: 100px;
  list-style: none;
}

#digital-delivered .digital-delivered-buttons li {
  font-size: 1em;
  font-style: italic;
  display: inline;
  color: #767676;
  opacity: 0.5;
  padding-right: 30px;
  font-family: "Lora", "Helvetica", "Arial", sans-serif;
  cursor: pointer;
}

#digital-delivered .digital-delivered-buttons .active {
  color: #343434;
  opacity: 0.8;
}

#digital-delivered .digital-delivered-content {
  position: relative;
  cursor: pointer;
}

#digital-delivered .digital-delivered-content img {
  max-width: 100%;
}

#digital-delivered .digital-delivered-content .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #1f1f1fde;
  opacity: 0;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

#digital-delivered .digital-delivered-content .overlay .overlay-content {
  position: absolute;
  right: 8%;
  top: 62px;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

#digital-delivered .digital-delivered-content .overlay h5 {
  color: #fff;
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

#digital-delivered .digital-delivered-content .overlay span {
  color: #fff;
  font-size: 1em;
  font-family: "Lora", "Helvetica", "Arial", sans-serif;
}

#digital-delivered .digital-delivered-content:hover .overlay {
  opacity: 1;
}

#digital-delivered .digital-delivered-content:hover .overlay-content {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

#creative-collective {
  padding-bottom: 150px;
  background-color: #fdfdfd;
}

#creative-collective .creative-collective-header h2 {
  color: #343434;
  font-size: 2em;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 1.421875em;
}

#creative-collective .creative-collective-header p {
  color: #767676;
  font-size: 1.4375em;
  font-family: "Lora", "Helvetica", "Arial", sans-serif;
  line-height: 1.69565217em;
}

#creative-collective .creative-collective-content {
  position: relative;
  margin-top: 90px;
}

#creative-collective .creative-collective-content img {
  max-width: 100%;
}

#creative-collective .creative-collective-content .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #1f1f1fde;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#creative-collective .creative-collective-content .overlay .overlay-text {
  position: absolute;
  right: 28%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#creative-collective .creative-collective-content .overlay .overlay-text h6 {
  padding-left: 30px;
  font-size: 11px;
  color: #767676;
  line-height: 1em;
  letter-spacing: 1px;
  margin-top: 195px;
}

#creative-collective .creative-collective-content .overlay .overlay-text h5 {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

#creative-collective .creative-collective-content .overlay ul {
  position: absolute;
  bottom: 15px;
  margin-left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#creative-collective .creative-collective-content .overlay ul li {
  margin-left: 35px;
  list-style: none;
}

#creative-collective .creative-collective-content .overlay ul li i {
  color: #e9e9e9b7;
  font-size: 1em;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#creative-collective .creative-collective-content .overlay ul li i:hover {
  color: #fff;
}

#creative-collective .creative-collective-content .overlay:hover {
  opacity: 1;
}

#creative-collective .creative-collective-content .overlay:hover .overlay-text {
  -webkit-transform: translateX(-12px);
          transform: translateX(-12px);
}

#parallax {
  background-image: url("../img/hero2.jpg");
  position: relative;
  background-attachment: fixed;
  height: 454px;
}

#parallax .overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 454px;
  background-color: #1f1f1fb7;
}

#parallax .overlay .parallax-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 5%;
  margin-top: 100px;
}

#parallax .overlay .parallax-list .parallax2, #parallax .overlay .parallax-list .parallax3, #parallax .overlay .parallax-list .parallax4 {
  padding-left: 215px;
}

#parallax .overlay .parallax-list li i {
  color: #f8f8f8;
  font-size: 4em;
  line-height: 2em;
}

#parallax .overlay .parallax-list li h3 {
  color: #f8f8f8;
  font-size: 2em;
  line-height: 1.421875em;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

#parallax .overlay .parallax-list li span {
  color: #e7e7e7;
  font-size: 1em;
  line-height: 1.625em;
  font-family: "Lora", "Helvetica", "Arial", sans-serif;
}

#our-expertise {
  padding: 120px 0;
  background-color: #fdfdfd;
}

#our-expertise .expertise-header h2 {
  color: #343434;
  font-size: 2em;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 1.421875em;
}

#our-expertise .expertise-header p {
  color: #767676;
  font-size: 1.4375em;
  font-family: "Lora", "Helvetica", "Arial", sans-serif;
  line-height: 1.69565217em;
}

#our-expertise .expertise-content {
  margin-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#our-expertise .expertise-content .content-left i {
  color: #425cbb;
  line-height: 1em;
  font-size: 2.8125em;
}

#our-expertise .expertise-content .content-right {
  margin-left: 25px;
}

#our-expertise .expertise-content .content-right h6 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 0.625em;
}

#our-expertise .expertise-content .content-right p {
  padding-top: 25px;
  color: #767676;
  font-weight: 400;
  font-family: "Lora", "Helvetica", "Arial", sans-serif;
  line-height: 1.6em;
}
/*# sourceMappingURL=style.css.map */