.search-pop-up {
  z-index: 5;
  width: 100%;
  height: 864px;
  background-color: black;
  opacity: 0.8;
}

.search-pop-up .search-icon {
  position: absolute;
  left: 28%;
  color: #f5f5f5;
  z-index: 7;
  font-size: 20px;
}

.search-pop-up input {
  background: rgba(255, 255, 255, 0.3);
  border: none;
  height: 52px;
  border-radius: 50px;
  padding-left: 4.0625em;
  width: 48%;
}

.search-pop-up input:focus {
  outline: none;
}

.search-pop-up .times-icon {
  position: absolute;
  top: 8px;
  right: 30px;
  color: #f5f5f5;
  font-size: 22px;
  cursor: pointer;
}

#welcome {
  background-color: #f5f5f5;
  padding: 15px 0;
}

#welcome span {
  padding-left: 34px;
  font-size: 0.6875em;
  color: #767676;
  font-weight: 400;
  font-family: "Lora", "Helvetica", "Arial", sans-serif;
}

#welcome .welcome-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  position: absolute;
  right: 6%;
}

#welcome .welcome-navigation li {
  padding-left: 32px;
}

#welcome .welcome-navigation li i {
  color: #343434;
  font-size: 13px;
  opacity: 0.5;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#welcome .welcome-navigation li i:hover {
  opacity: 1;
}

#navigation {
  z-index: 4;
  position: relative;
}

#navigation .navbar {
  -webkit-box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.07);
  background-color: transparent;
  height: 65px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#navigation .navbar-brand1 {
  width: 5%;
  margin-left: 2%;
}

#navigation .navbar-brand1 .logo-light {
  max-width: 100%;
}

#navigation .navbar-brand1 {
  width: 5%;
  margin-left: 2%;
}

#navigation .navbar-brand1 .logo-dark {
  max-width: 100%;
}

#navigation .navbar-brand2 {
  position: absolute;
  width: 5%;
  left: 3%;
  display: none;
}

#navigation .navbar-brand2 .logo-dark {
  max-width: 100%;
}

#navigation .navbar-nav {
  margin-left: 28px;
}

#navigation .navbar-nav .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10px;
  list-style: none;
}

#navigation .navbar-nav .nav-item a {
  color: #f8f8f8;
  font-size: 0.625em;
  letter-spacing: 1.5px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#navigation .navbar-nav .nav-item a:hover {
  color: #e9e9e9b7;
}

#navigation .navbar-nav .nav-item .dropdown-menu {
  background-color: #232323;
}

#navigation .navbar-nav .nav-item .dropdown-menu a {
  padding-top: 10px;
  color: #767676;
}

#navigation .navbar-nav .nav-item .dropdown-menu .active-item {
  color: #f8f8f8;
}

#navigation .navbar-right-side {
  height: 65px;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}

#navigation .navbar-right-side ul {
  margin-top: 5px;
  list-style: none;
}

#navigation .navbar-right-side ul li i {
  margin-top: 20px;
  color: #f8f8f8;
  padding-right: 30px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#navigation .navbar-right-side ul li i:hover {
  color: #e9e9e9b7;
}

#navigation .scrolled {
  background-color: #f8f8f8;
  -webkit-transition: all 0.4;
  transition: all 0.4;
}

#navigation .shop-card-navbar {
  margin-top: 54px;
  background-color: #f8f8f8;
}

#navigation .shop-card-navbar .navbar-brand2 {
  display: block;
}

#navigation .shop-card-navbar .nav-item a {
  color: #232323;
  font-size: 0.625em;
  letter-spacing: 1.5px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#navigation .shop-card-navbar .nav-item a:hover {
  color: #686868a6;
}

#navigation .shop-card-navbar .navbar-right-side {
  height: 65px;
  border-left: 1px solid rgba(0, 0, 0, 0.05);
}

#navigation .shop-card-navbar .navbar-right-side ul {
  margin-top: 5px;
  list-style: none;
}

#navigation .shop-card-navbar .navbar-right-side ul li i {
  margin-top: 20px;
  color: #232323;
  padding-right: 30px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#navigation .shop-card-navbar .navbar-right-side ul li i:hover {
  color: #686868a6;
}

#intro {
  background-image: url("../img/hero1.jpg");
  padding: 260px 0;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
}

#intro::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #232323;
  opacity: 0.3;
  z-index: 1;
}

#intro .intro-content div {
  z-index: 2;
}

#intro .intro-content .intro-text {
  color: #f8f8f8;
  font-size: 1.4375em;
  line-height: 1.69565217em;
  margin-top: 48px;
  font-family: "Lora", "Helvetica", "Arial", sans-serif;
}

#intro .intro-content img {
  width: 66%;
}

#intro .intro-content .intro-video a {
  color: #f8f8f8;
  background-color: #425cbb;
  padding: 18px 52px;
  font-size: 0.625em;
  border-radius: 50px;
  letter-spacing: 2px;
  text-decoration: none;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

#intro .intro-content .intro-video a:hover {
  background-color: #5974d3;
}

#intro .intro-content .intro-icons {
  position: absolute;
  top: 180px;
  left: 35%;
}

#intro .intro-content .intro-icons i {
  color: #e9e9e9b7;
  font-size: 27px;
  padding-left: 47px;
  cursor: pointer;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

#intro .intro-content .intro-icons i:hover {
  color: white;
}

#digital-delivered {
  padding: 100px 0;
  background-color: #fdfdfd;
}

#digital-delivered .digital-delivered-header h2 {
  color: #343434;
  font-size: 2em;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 1.421875em;
}

#digital-delivered .digital-delivered-header p {
  color: #767676;
  font-size: 1.4375em;
  font-family: "Lora", "Helvetica", "Arial", sans-serif;
  line-height: 1.69565217em;
}

#digital-delivered .digital-delivered-buttons {
  margin-top: 100px;
  list-style: none;
}

#digital-delivered .digital-delivered-buttons li {
  font-size: 1em;
  font-style: italic;
  display: inline;
  color: #767676;
  opacity: 0.5;
  padding-right: 30px;
  font-family: "Lora", "Helvetica", "Arial", sans-serif;
  cursor: pointer;
}

#digital-delivered .digital-delivered-buttons .active {
  color: #343434;
  opacity: 0.8;
}

#digital-delivered .digital-delivered-content {
  position: relative;
  cursor: pointer;
}

#digital-delivered .digital-delivered-content img {
  max-width: 100%;
}

#digital-delivered .digital-delivered-content .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #1f1f1fde;
  opacity: 0;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

#digital-delivered .digital-delivered-content .overlay .overlay-content {
  position: absolute;
  right: 8%;
  top: 62px;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

#digital-delivered .digital-delivered-content .overlay h5 {
  color: #fff;
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

#digital-delivered .digital-delivered-content .overlay span {
  color: #fff;
  font-size: 1em;
  font-family: "Lora", "Helvetica", "Arial", sans-serif;
}

#digital-delivered .digital-delivered-content:hover .overlay {
  opacity: 1;
}

#digital-delivered .digital-delivered-content:hover .overlay-content {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

#creative-collective {
  padding-bottom: 150px;
  background-color: #fdfdfd;
}

#creative-collective .creative-collective-header h2 {
  color: #343434;
  font-size: 2em;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 1.421875em;
}

#creative-collective .creative-collective-header p {
  color: #767676;
  font-size: 1.4375em;
  font-family: "Lora", "Helvetica", "Arial", sans-serif;
  line-height: 1.69565217em;
}

#creative-collective .creative-collective-content {
  position: relative;
  margin-top: 90px;
}

#creative-collective .creative-collective-content img {
  max-width: 100%;
}

#creative-collective .creative-collective-content .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #1f1f1fde;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#creative-collective .creative-collective-content .overlay .overlay-text {
  position: absolute;
  right: 28%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#creative-collective .creative-collective-content .overlay .overlay-text h6 {
  padding-left: 30px;
  font-size: 11px;
  color: #767676;
  line-height: 1em;
  letter-spacing: 1px;
  margin-top: 195px;
}

#creative-collective .creative-collective-content .overlay .overlay-text h5 {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

#creative-collective .creative-collective-content .overlay ul {
  position: absolute;
  bottom: 15px;
  margin-left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#creative-collective .creative-collective-content .overlay ul li {
  margin-left: 35px;
  list-style: none;
}

#creative-collective .creative-collective-content .overlay ul li i {
  color: #e9e9e9b7;
  font-size: 1em;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#creative-collective .creative-collective-content .overlay ul li i:hover {
  color: #fff;
}

#creative-collective .creative-collective-content .overlay:hover {
  opacity: 1;
}

#creative-collective .creative-collective-content .overlay:hover .overlay-text {
  -webkit-transform: translateX(-12px);
          transform: translateX(-12px);
}

#parallax {
  background-image: url("../img/hero2.jpg");
  position: relative;
  background-attachment: fixed;
  height: 454px;
}

#parallax .overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 454px;
  background-color: #1f1f1fb7;
}

#parallax .overlay .parallax-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 5%;
  margin-top: 100px;
}

#parallax .overlay .parallax-list .parallax2, #parallax .overlay .parallax-list .parallax3, #parallax .overlay .parallax-list .parallax4 {
  padding-left: 215px;
}

#parallax .overlay .parallax-list li i {
  color: #f8f8f8;
  font-size: 4em;
  line-height: 2em;
}

#parallax .overlay .parallax-list li h3 {
  color: #f8f8f8;
  font-size: 2em;
  line-height: 1.421875em;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

#parallax .overlay .parallax-list li span {
  color: #e7e7e7;
  font-size: 1em;
  line-height: 1.625em;
  font-family: "Lora", "Helvetica", "Arial", sans-serif;
}

#our-expertise {
  padding: 120px 0;
  background-color: #fdfdfd;
}

#our-expertise .expertise-header h2 {
  color: #343434;
  font-size: 2em;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 1.421875em;
}

#our-expertise .expertise-header p {
  color: #767676;
  font-size: 1.4375em;
  font-family: "Lora", "Helvetica", "Arial", sans-serif;
  line-height: 1.69565217em;
}

#our-expertise .expertise-content {
  margin-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#our-expertise .expertise-content .content-left i {
  color: #425cbb;
  line-height: 1em;
  font-size: 2.8125em;
}

#our-expertise .expertise-content .content-right {
  margin-left: 25px;
}

#our-expertise .expertise-content .content-right h6 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 0.625em;
}

#our-expertise .expertise-content .content-right p {
  padding-top: 25px;
  color: #767676;
  font-weight: 400;
  font-family: "Lora", "Helvetica", "Arial", sans-serif;
  line-height: 1.6em;
}

#testimonial {
  margin-top: 180px;
  height: 405px;
  background-color: #f4f4f4;
  position: relative;
}

#testimonial .testimonial-text {
  margin-top: 120px;
}

#testimonial .testimonial-text blockquote {
  font-size: 1.4375em;
  color: #767676;
  font-weight: 400;
  font-style: italic;
  font-family: "Lora", "Helvetica", "Arial", sans-serif;
}

#testimonial .testimonial-text h5 {
  font-size: 1em;
  color: #343434;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  padding-top: 10px;
}

#testimonial .testimonial-text span {
  font-size: 0.625em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
}

#testimonial img {
  max-width: 100%;
  position: absolute;
  top: -82px;
}

#news {
  padding: 100px 0;
  background-color: #f8f8f8;
}

#news .news-header h2 {
  color: #343434;
  font-size: 2em;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 1.421875em;
}

#news .news-header p {
  color: #767676;
  font-size: 1.4375em;
  font-family: "Lora", "Helvetica", "Arial", sans-serif;
  line-height: 1.69565217em;
}

#news .news-content {
  background-color: white;
  margin-top: 100px;
  padding-bottom: 40px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#news .news-content .card-image img {
  max-width: 100%;
}

#news .news-content .card-content {
  margin: 25px;
}

#news .news-content .card-content h6 {
  color: #767676;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 0.625em;
  padding: 10px 0;
}

#news .news-content .card-content h5 {
  font-weight: 400;
  color: #232323;
  font-size: 1em;
  line-height: 1.625em;
  padding-bottom: 40px;
}

#news .news-content .card-content .content-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.137);
}

#news .news-content .card-content .content-footer .span1 {
  position: absolute;
  bottom: 25px;
  color: #767676;
  font-size: 0.625em;
  font-style: italic;
}

#news .news-content .card-content .content-footer .span2 {
  position: absolute;
  bottom: 25px;
  left: 15%;
  color: #767676;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.625em;
}

#news .news-content:hover {
  -webkit-box-shadow: 0px 0px 11px 2px #e7e7e7;
          box-shadow: 0px 0px 11px 2px #e7e7e7;
}

#news .view-blog {
  margin-top: 100px;
}

#news .view-blog a {
  font-family: "Montserrat", sans-serif;
  padding: 18px 50px;
  border: 2px solid rgba(35, 35, 35, 0.1);
  color: #343434;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.625em;
  border-radius: 50px;
  letter-spacing: 2px;
  text-decoration: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#news .view-blog a:hover {
  border-color: #343434;
}

#carousel {
  padding: 70px 0;
  background-color: #f4f4f4;
}

#carousel .owl-carousel {
  margin-left: 3%;
}

#carousel .owl-carousel .item {
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#carousel .owl-carousel .item img {
  max-width: 100%;
  color: #767676;
  opacity: 0.3;
  max-height: 1.625em;
  max-width: 78%;
}

#carousel .owl-carousel .item .partner1, #carousel .owl-carousel .item .partner4 {
  width: 25%;
}

#working-pillar {
  padding: 60px 0;
  background-color: #425cbb;
}

#working-pillar .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#working-pillar .content h4 {
  margin: 10px 25px;
  font-size: 1.4375em;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

#working-pillar a {
  padding: 14px 28px;
  border-radius: 50px;
  letter-spacing: 2px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  border: 2px solid #a8a8a83a;
  color: #f8f8f8;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.625em;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#working-pillar a:hover {
  border-color: #f4f4f4;
}

#main-footer {
  padding: 100px 0;
  background-color: #232323;
}

#main-footer img {
  max-width: 40%;
}

#main-footer p {
  font-style: italic;
  font-size: 1em;
  line-height: 1.625em;
  font-weight: 400;
  color: #f5f5f5;
  padding-top: 20px;
  font-family: "Lora", "Helvetica", "Arial", sans-serif;
  opacity: 0.9;
}

#main-footer li {
  padding: 4px 0;
}

#main-footer a {
  color: #f5f5f5;
  opacity: 0.5;
  text-decoration: none;
  font-size: 0.625em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#main-footer a:hover {
  opacity: 1;
}

#main-footer h6 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  color: #f5f5f5;
  font-size: 0.625em;
  line-height: 2.6em;
  font-family: "Montserrat", sans-serif;
}

#main-footer .nav-text a {
  text-decoration: underline;
  color: white;
  opacity: 1;
  font-size: 1em;
  line-height: 1.625em;
  font-family: "Lora", "Helvetica", "Arial", sans-serif;
  text-transform: lowercase;
}

#main-footer .nav-text a:hover {
  opacity: 0.8;
}

#main-footer .nav-list3 {
  margin-left: 26%;
}

#main-footer .nav-list3 form {
  padding: 20px 0;
}

#main-footer .nav-list3 form input {
  border-radius: 50px 0 0 50px;
  border: none;
  height: 52px;
  padding-left: 1.625em;
  padding-right: 1.625em;
  font-family: "Lora", "Helvetica", "Arial", sans-serif;
  font-style: italic;
}

#main-footer .nav-list3 form input:focus {
  outline: none;
}

#main-footer .nav-list3 form button {
  border: 1px solid #232323;
  margin-left: -6px;
  border-radius: 0 50px 50px 0;
  border-color: rgba(35, 35, 35, 0.1);
  letter-spacing: 1px;
  padding-right: 3.25em;
  padding-left: 3.25em;
  margin-bottom: 5px;
  font-size: 0.625em;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  background: #425cbb;
  height: 52px;
  padding-top: 7px;
}

#main-footer .nav-list3 h6 {
  padding-top: 15px;
}

#main-footer .nav-list3 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-top: 20px;
}

#main-footer .nav-list3 ul li i {
  color: #e9e9e9b7;
  font-size: 1em;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#main-footer .nav-list3 ul li i:hover {
  color: #fff;
}

#main-footer .nav-list3 ul .footer-icons {
  padding-left: 30px;
}

#copyright {
  padding: 30px 0 50px 0;
  background-color: #1e1e1e;
}

#copyright span {
  color: #f5f5f5;
  opacity: 0.5;
  font-size: 0.6875em;
}

#copyright i {
  color: #f5f5f5;
  background: #3d3d3d;
  width: 53px;
  height: 53px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 22px;
  position: absolute;
  right: 0;
  top: -60px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#copyright i:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

#about-intro {
  background-image: url("../img/hero5.jpg");
  padding: 165px 0;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
}

#about-intro::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #232323;
  opacity: 0.8;
  z-index: 1;
}

#about-intro .intro-content div {
  z-index: 2;
}

#about-intro .intro-content div h3 {
  color: #f5f5f5;
  margin-bottom: 30px;
  margin-top: 10px;
  font-size: 2em;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

#about-intro .intro-content div p {
  font-family: "Lora", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1.4375em;
  color: #f5f5f5;
  opacity: 0.9;
  line-height: 40px;
}

#service-cards {
  background-color: #f8f8f8;
  margin-top: -6.5em;
  padding-bottom: 230px;
}

#service-cards .card {
  z-index: 3;
  border: none;
}

#service-cards .card .card-icon {
  background: #f4f4f4;
  padding: 4.875em 0;
}

#service-cards .card .card-icon i {
  font-size: 4em;
  color: #767676;
}

#service-cards .card .card-content {
  padding: 42px 35px;
}

#service-cards .card .card-content h5 {
  color: #232323;
  font-size: 1em;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

#service-cards .card .card-content p {
  color: #767676;
  font-size: 1em;
  font-family: "Lora", "Helvetica", "Arial", sans-serif;
  line-height: 1.625em;
  font-weight: 400;
  padding-top: 25px;
}

#service-cards .card4, #service-cards .card5, #service-cards .card6 {
  margin-top: 100px;
}

#about-parallax {
  background-image: url("../img/hero8.jpg");
  position: relative;
  background-attachment: fixed;
  height: 369px;
}

#about-parallax .overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 369px;
  background-color: #1f1f1fa1;
}

#about-parallax .overlay h4 {
  color: #fff;
  font-size: 1.4375em;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  line-height: 1.41304348em;
  padding-top: 140px;
  padding-bottom: 30px;
}

#about-parallax .overlay a {
  color: #f8f8f8;
  background-color: #425cbb;
  padding: 20px 52px;
  font-size: 0.625em;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 50px;
  letter-spacing: 2px;
  text-decoration: none;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

#about-parallax .overlay a:hover {
  background-color: #5974d3;
}

#contact-intro {
  background-image: url("../img/hero16.jpg");
  padding: 160px 0;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
}

#contact-intro::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #232323;
  opacity: 0.6;
  z-index: 1;
}

#contact-intro .about-content div {
  z-index: 2;
}

#contact-intro .about-content div h3 {
  color: #f5f5f5;
  margin-bottom: 30px;
  margin-top: 10px;
  font-size: 2em;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

#contact-intro .about-content div p {
  font-family: "Lora", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1.4375em;
  color: #f5f5f5;
  opacity: 0.9;
  line-height: 40px;
}

#features .features-content {
  padding: 6.5em 0;
}

#features .features-content h4 {
  line-height: 1.41304348em;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  padding: 20px 0;
}

#features .features-content p {
  color: #767676;
  font-size: 1em;
  font-family: "Lora", "Helvetica", "Arial", sans-serif;
}

#features .features-content i {
  font-size: 4em;
  padding: 5px 0;
}

#features .features-content1 {
  height: 427px;
}

#features .features-content2 {
  background-color: #f4f4f4;
}

#features .features-content2 h4 {
  color: #343434;
}

#features .features-content3 {
  background-color: #232323;
}

#features .features-content3 h4 {
  color: #fff;
}

#features .features-content3 i {
  color: #f5f5f5;
}

#features .features-content3 p {
  color: #f5f5f5;
}

#features .features-content3 a {
  text-decoration: underline;
  color: #f5f5f5;
}

#features .features-content3 a:hover {
  color: #dddddd;
}

#contacts {
  padding: 100px 0;
  background-color: #f8f8f8;
}

#contacts form i {
  font-size: 1.4375em;
  position: absolute;
  top: 16px;
  left: 8%;
  color: #767676;
  opacity: 0.8;
}

#contacts form h4 {
  color: #343434;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

#contacts form input {
  border-radius: 5px;
  border: none;
  padding-left: 4.0625em;
  font-family: "Lora", "Helvetica", "Arial", sans-serif;
  font-style: italic;
  width: 100%;
  height: 52px;
}

#contacts form input:focus {
  outline: none;
}

#contacts form .name-icon {
  left: 4%;
}

#contacts form .message-input {
  padding: 25px 10px 205px 25px;
}

#contacts form .submit-btn {
  color: #f8f8f8;
  background-color: #425cbb;
  width: 100%;
  height: 52px;
  font-size: 0.625em;
  border-radius: 50px;
  letter-spacing: 2px;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 5px;
  border: 2px solid #425cbb;
  text-transform: uppercase;
}

#contacts form .submit-btn:hover {
  background-color: #5974d3;
  border-color: #425cbb;
}

#shop-cards {
  padding-top: 190px;
  padding-bottom: 150px;
  background-color: #fdfdfd;
}

#shop-cards .shopcard-header h1 {
  font-size: 4em;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #343434;
}

#shop-cards .shopcard-header p {
  padding-top: 10px;
  font-size: 1.4375em;
  color: #767676;
  font-family: "Lora", "Helvetica", "Arial", sans-serif;
}

#shop-cards .shop-card-buttons {
  margin-top: 100px;
  list-style: none;
}

#shop-cards .shop-card-buttons li {
  font-size: 1em;
  font-style: italic;
  display: inline;
  color: #767676;
  opacity: 0.5;
  padding-right: 30px;
  font-family: "Lora", "Helvetica", "Arial", sans-serif;
  cursor: pointer;
}

#shop-cards .shop-card-buttons .active {
  color: #343434;
  opacity: 0.8;
}

#shop-cards .shop-card-content {
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#shop-cards .shop-card-content img {
  max-width: 100%;
}

#shop-cards .shop-card-content .card-content {
  background-color: #fff;
  padding: 30px;
}

#shop-cards .shop-card-content .card-content .card-title h6 {
  opacity: 0.3;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  font-size: 0.625em;
}

#shop-cards .shop-card-content .card-content .card-title h5 {
  font-size: 1em;
  line-height: 1.625em;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

#shop-cards .shop-card-content .card-content .card-price {
  position: absolute;
  right: 30px;
}

#shop-cards .shop-card-content .card-content .card-price span {
  color: #767676;
  display: block;
}

#shop-cards .shop-card-content .card-content .card-price .prev-price {
  opacity: 0.3;
  text-decoration: line-through;
}

#shop-cards .shop-card-content:hover {
  -webkit-box-shadow: 0px 0px 11px 2px #e7e7e7;
          box-shadow: 0px 0px 11px 2px #e7e7e7;
}

#shop-cards .card-navigation {
  width: 100%;
}

#shop-cards .card-navigation .navigation-list {
  border: none;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#shop-cards .card-navigation .navigation-list li {
  margin: 10px 3px;
  padding: 9px 0;
  cursor: pointer;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

#shop-cards .card-navigation .navigation-list li a {
  color: #232323;
  font-size: 0.625em;
  text-decoration: none;
}

#shop-cards .card-navigation .navigation-list li:hover {
  background: #ececec;
}

#shop-cards .card-navigation .navigation-list .active {
  background: #ececec;
}

#login .login-left {
  background-image: url("../img/hero13.jpg");
  padding: 400px 0;
  background-position: center;
  background-size: cover;
  position: relative;
}

#login .login-right {
  margin-top: 150px;
}

#login .login-right img {
  max-height: 3.25em;
}

#login .login-right p {
  padding-top: 5px;
  color: #767676;
  font-size: 1.4375em;
  font-family: "Lora", "Helvetica", "Arial", sans-serif;
}

#login .login-right .login-content form {
  max-width: 60%;
  margin-left: 20%;
}

#login .login-right .login-content label {
  display: block;
  font-size: 0.625em;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-left: 20px;
  position: absolute;
  left: 7%;
  top: 30px;
}

#login .login-right .login-content i {
  margin-left: 1.1304347826087em;
  position: absolute;
  top: 75px;
  font-size: 1.4375em;
}

#login .login-right .login-content input {
  margin-top: 60px;
  width: 90%;
  background: #f8f8f8;
  height: 52px;
  border-radius: 50px;
  border: none;
  padding-left: 4.0625em;
  font-family: "Lora", "Helvetica", "Arial", sans-serif;
}

#login .login-right .login-content input:focus {
  outline: none;
  -webkit-box-shadow: 0px 0px 0px 0px #e7e7e7;
          box-shadow: 0px 0px 0px 0px #e7e7e7;
}

#login .login-right .login-content .check {
  padding: 0 110px;
}

#login .login-right .login-content .check #check-input {
  height: 30px;
  margin-top: 10px;
  width: 30px;
  border-radius: 50%;
}

#login .login-right .login-content .check span {
  color: #767676;
  font-size: 12px;
  font-family: "Lora", "Helvetica", "Arial", sans-serif;
  width: 100%;
  margin-top: 15px;
  margin-left: 10px;
}

#login .login-right .login-content button {
  color: #f8f8f8;
  background-color: #425cbb;
  padding: 18px 0px;
  font-size: 0.625em;
  width: 90%;
  text-transform: uppercase;
  border-radius: 50px;
  letter-spacing: 2px;
  text-decoration: none;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

#login .login-right .login-content button:hover {
  background-color: #5974d3;
}

#login .login-right .login-content p {
  font-size: 0.6875em;
}

#login .login-right .login-content p a {
  color: #767676;
  text-decoration: underline;
}
/*# sourceMappingURL=style.css.map */