.search-pop-up{
    z-index: 5;
    width: 100%;
    height: 864px;
    background-color: black;
    opacity: 0.8;
    .search-icon{
        position: absolute;
        left: 28%;
        color: #f5f5f5;
        z-index: 7;
        font-size: 20px;
    }
    input{
        background: rgba(255, 255, 255, 0.3);
        border: none;
        height: 52px;
        border-radius: 50px;
        padding-left: 4.0625em;
        width: 48%;
        &:focus{
            outline: none;
        }
    }
    .times-icon{
        position: absolute;
        top: 8px;
        right: 30px;
        color: #f5f5f5;
        font-size: 22px;
        cursor: pointer;
    }
    
}

#welcome{
    background-color: #f5f5f5;
    padding: 15px 0;
    span{
        padding-left: 34px;
        font-size: 0.6875em;
        color: $text-color;
        font-weight: 400;
        font-family: $font-family;
    }
    .welcome-navigation{
        display: flex;
        list-style: none;
        position: absolute;
        right: 6%;
        li{
            padding-left: 32px; 
           i{
            color: $title-color;
            font-size: 13px;
            opacity: 0.5;
            cursor: pointer;
            @include transition(all 0.3s);
            &:hover{
                opacity: 1;
            }
            } 
        }
        
    }
}

#navigation{
    z-index: 4;
    position: relative;
    .navbar{
        box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.07);
        background-color: transparent;
        height: 65px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
    .navbar-brand1{
        width: 5%;
        margin-left: 2%;
        .logo-light{
            max-width: 100%;
        }
    }
    .navbar-brand1{
        width: 5%;
        margin-left: 2%;
        .logo-dark{
            max-width: 100%;
        }
    }
    .navbar-brand2{
        position: absolute;
        width: 5%;
        left: 3%;
        display: none;
        .logo-dark{
            max-width: 100%;
        }
    }
    .navbar-nav{
        margin-left: 28px;
        .nav-item{
            display: flex;
            padding-left: 10px;
            list-style: none;
            a{
                color: $primary-color;
                font-size: $heading4;
                letter-spacing: 1.5px;
                @include transition(all 0.5s);
                &:hover{
                    color: #e9e9e9b7;
                }
            }
            .dropdown-menu{
                background-color: #232323;
                a{
                    padding-top: 10px;
                    color: $text-color;
                }
                .active-item{
                    color: #f8f8f8;
                }
            }
        }
    }
    .navbar-right-side{
        height: 65px;
        border-left: 1px solid rgba(255, 255, 255, 0.1);
        ul{
            margin-top: 5px;
            list-style: none;
            li{
                i{
                    margin-top: 20px;
                    color: $primary-color;
                    padding-right: 30px;
                    @include transition(all 0.5s);
                    &:hover{
                        color: #e9e9e9b7;
                    }
                }
            }
        }
    }
    .scrolled{
        background-color: #f8f8f8;
        @include transition(all 0.4);
    }
    .shop-card-navbar{
        margin-top: 54px;
        background-color: #f8f8f8;
        .navbar-brand2{
            display: block;
        }
        .nav-item{
            a{
                color: #232323;
                font-size: $heading4;
                letter-spacing: 1.5px;
                @include transition(all 0.5s);
                &:hover{
                    color: #686868a6;
                }
            }
        }
        .navbar-right-side{
            height: 65px;
            border-left: 1px solid rgba(0, 0, 0, 0.05);
            ul{
                margin-top: 5px;
                list-style: none;
                li{
                    i{
                        margin-top: 20px;
                        color: #232323;
                        padding-right: 30px;
                        @include transition(all 0.5s);
                        &:hover{
                            color: #686868a6;
                        }
                    }
                }
            }
        }
    }
}

#intro{
    background-image: url("../img/hero1.jpg");
    padding: 260px 0;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    &::after{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #232323;
        opacity: 0.3;
        z-index: 1;
    }
    .intro-content{
        div{
            z-index: 2;
        }
        .intro-text{
            color: $primary-color;
            font-size: 1.4375em;
            line-height: 1.69565217em;
            margin-top: 48px;
            font-family: $font-family;
        }
        img{
            width: 66%;
        }
        .intro-video{
            a{
            color: $primary-color;
            background-color: $secondary-color;
            padding: 18px 52px;
            font-size: $heading4;
            @include buttons();
            @include transition(all 0.7s);
            &:hover{
                background-color: #5974d3;
            }
        }
        }
        .intro-icons{
            position: absolute;
            top: 180px;
            left: 35%;
            i{
                color: #e9e9e9b7;
                font-size: 27px;
                padding-left: 47px;
                cursor: pointer;
                @include transition(all 0.7s);
                &:hover{
                    color: white;
                }
            }
        }
    }
    
}

#digital-delivered{
    padding: 100px 0;
    background-color: #fdfdfd;
    .digital-delivered-header{
        h2{
            @include heading1($heading1,$title-color,$title-font);
        }
        p{
            @include heading2($heading2,$text-color,$font-family);
        }
    }
    .digital-delivered-buttons{
        margin-top: 100px;
        list-style: none;
        li{
            font-size: $text-size;
            font-style: italic;
            display: inline;
            color: $text-color;
            opacity: 0.5;
            padding-right: 30px;
            font-family: $font-family;
            cursor: pointer;
        }
        .active{
            color: $title-color;
            opacity: 0.8;
        }
        
    }
    .digital-delivered-content{
        position: relative;
        cursor: pointer;
        img{
            max-width: 100%;
            
        }
        .overlay{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: #1f1f1fde;
            opacity: 0;
            @include transition(all 0.6s);
            .overlay-content{
                position: absolute;
                right: 8%;
                top: 62px;
                @include transition(all 0.6s);
            }
            h5{
                color: #fff;
                font-size: $text-size;
                font-family: $title-font;
                font-weight: 600;
            }
            span{
                color: #fff;
                font-size: $text-size;
                font-family: $font-family;
            }
        }
        &:hover .overlay{
            opacity: 1;
        }
        &:hover .overlay-content{
            transform: translateY(-15px);
        }
    }
}

#creative-collective{
    padding-bottom: 150px;
    background-color: #fdfdfd;
    .creative-collective-header{
        h2{
            @include heading1($heading1,$title-color,$title-font);
        }
        p{
            @include heading2($heading2,$text-color,$font-family);
        }
    }
    .creative-collective-content{
        position: relative;
        margin-top: 90px;
        img{
            max-width: 100%; 
        }
        .overlay{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: #1f1f1fde;
            opacity: 0;
            .overlay-text{
                position: absolute;
                right: 28%;
                @include transition(all 0.5s);
                h6{
                    padding-left: 30px;
                    font-size: 11px;
                    color: $text-color;
                    line-height: 1em;
                    letter-spacing: 1px;
                    margin-top: 195px;
                }
                h5{
                    color: #fff;
                    font-size: 18px;
                    font-weight: 700;
                }
            }
            ul{
                position: absolute;
                bottom: 15px;
                margin-left: 5%;
                display: flex;
                li{
                    margin-left: 35px;
                    list-style: none;
                    i{
                        color: #e9e9e9b7;
                        font-size: $text-size;
                        cursor: pointer;
                        @include transition(all 0.4s);
                        &:hover{
                            color: #fff;
                        }
                    }
                    
                }
            }
            @include transition(all 0.5s);
            &:hover{
                opacity: 1;
            }
            &:hover .overlay-text{
                transform: translateX(-12px);
            }
        }
    }
}

#parallax{
    background-image: url("../img/hero2.jpg");
    position: relative;
    background-attachment: fixed;
    height: 454px;
    .overlay{
        position: absolute;
        top: 0;
        width: 100%;
        height: 454px;
        background-color: #1f1f1fb7;
        .parallax-list{
            list-style: none;
            display: flex;
            margin-left: 5%;
            margin-top: 100px;
            .parallax2, .parallax3, .parallax4{
                padding-left: 215px;
            }
            li{
                i{
                    color: $primary-color;
                    font-size: 4em;
                    line-height: 2em;
                }
                h3{
                    color: $primary-color;
                    font-size: $heading1;
                    line-height: 1.421875em;
                    font-family: $title-font;
                    font-weight: 600;
                }
                span{
                    color: rgb(231, 231, 231);
                    font-size: $text-size;
                    line-height: 1.625em;
                    font-family: $font-family;
                }
            }
        }
    }
}

#our-expertise{
    padding: 120px 0;
    background-color: #fdfdfd;
    .expertise-header{
        h2{
            @include heading1($heading1,$title-color,$title-font);
        }
        p{
            @include heading2($heading2,$text-color,$font-family);
        }
    }
    .expertise-content{
        margin-top: 120px;
        display: flex;
        .content-left{
            i{
                color: $secondary-color;
                line-height: 1em;
                font-size: 2.8125em;
            }
        }
        .content-right{
            margin-left: 25px;
            h6{
                text-transform: uppercase;
                letter-spacing: 1px;
                font-weight: 400;
                font-size: $heading4;
            }
            p{
                padding-top: 25px;
                color: #767676;
                font-weight: 400;
                font-family: $font-family;
                line-height: 1.6em;
            }
        }
    }
}

#testimonial{
    margin-top: 180px;
    height: 405px;
    background-color: #f4f4f4;
    position: relative;
    .testimonial-text{
        margin-top: 120px;
        blockquote{
            font-size: $heading2;
            color: $text-color;
            font-weight: 400;
            font-style: italic;
            font-family: $font-family;
        }
        h5{
            font-size: $text-size;
            color: $title-color;
            font-weight: 600;
            font-family: $title-font;
            padding-top: 10px;
        }
        span{
            font-size: $heading4;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 400;
        }
    }
    img{
        max-width: 100%;
        position: absolute;
        top: -82px;
    }
}

#news{
    padding: 100px 0;
    background-color: #f8f8f8;
    .news-header{
        h2{
            @include heading1($heading1,$title-color,$title-font);
        }
        p{
            @include heading2($heading2,$text-color,$font-family);
        }
    }
    .news-content{
        background-color: white;
        margin-top: 100px;
        padding-bottom: 40px;
        cursor: pointer;
        @include transition(all 0.2s);
        .card-image{
            img{
                max-width: 100%;
            }
        }
        .card-content{
            margin: 25px;
            h6{
                color: $text-color;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-weight: 400;
                font-size: $heading4;
                padding: 10px 0;
            }
            h5{
                font-weight: 400;
                color: #232323;
                font-size: $text-size;
                line-height: 1.625em;
                padding-bottom: 40px;
            }
            .content-footer{
                border-top: 1px solid rgba(0, 0, 0, 0.137);
                .span1{
                    position: absolute;
                    bottom: 25px;
                    color: $text-color;
                    font-size: $heading4;
                    font-style: italic;
                }
                .span2{
                    position: absolute;
                    bottom: 25px;
                    left: 15%;
                    color: $text-color;
                    font-weight: 400;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    font-size: $heading4;
                }
            }
        }
        &:hover{
            box-shadow: 0px 0px 11px 2px #e7e7e7;
        }
    }
    .view-blog{
        margin-top: 100px;
        a{
            font-family: $title-font;
            padding: 18px 50px;
            border: 2px solid rgba(35, 35, 35, 0.1);
            color: $title-color;
            font-weight: 400;
            text-transform: uppercase;
            font-size: $heading4;
            @include buttons();
            @include transition(all 0.2s);
            &:hover{
                border-color: $title-color;
            }
        }
    }
}

#carousel{
    padding: 70px 0;
    background-color: #f4f4f4;
    .owl-carousel{
        margin-left: 3%;
        .item{
            width: 120px;
            display: flex;
            justify-content: center;
            img{
                max-width: 100%;
                color: $text-color;
                opacity: 0.3;
                max-height: 1.625em;
                max-width: 78%;
            }  
            .partner1, .partner4{
                width: 25%;
            }
        }
    }
}

#working-pillar{
    padding: 60px 0;
    background-color: $secondary-color;
    .content{
        display: flex;
        justify-content: center;
        h4{
            margin: 10px 25px;
            font-size: $heading2;
            color: #fff;
            font-family: $title-font;
            font-weight: 600;
        }
    }
        a{
            padding: 14px 28px;
            @include buttons();
            font-family: $title-font;
            border: 2px solid #a8a8a83a;
            color: $primary-color;
            font-weight: 400;
            text-transform: uppercase;
            font-size: $heading4;
            @include transition(all 0.2s);
            &:hover{
                border-color: #f4f4f4;
            }
        }
}

#main-footer{
    padding: 100px 0;
    background-color: #232323;
    img{
        max-width: 40%;
    }
    p{
        font-style: italic;
        font-size: $text-size;
        line-height: 1.625em;
        font-weight: 400;
        color: #f5f5f5;
        padding-top: 20px;
        font-family: $font-family;
        opacity: 0.9;
    }
    li{
        padding: 4px 0;
    }
    a{
        color: #f5f5f5;
        opacity: 0.5;
        text-decoration: none;
        font-size: $heading4;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 400;
        font-family: $title-font;
        @include transition(all 0.3s);
        &:hover{
            opacity: 1;
        }
    }
    h6{
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 400;
        color: #f5f5f5;
        font-size: $heading4;
        line-height: 2.6em;
        font-family: $title-font;
    }
    .nav-text{
        a{
            text-decoration: underline;
            color: white;
            opacity: 1;
            font-size: $text-size;
            line-height: 1.625em;
            font-family: $font-family;
            text-transform: lowercase;
            &:hover{
                opacity: 0.8;
            }
        }
    }
    .nav-list3{
        margin-left: 26%;
        form{
            padding: 20px 0;
            input{
                border-radius: 50px 0 0 50px;
                border: none;
                height: 52px;
                padding-left: 1.625em;
                padding-right: 1.625em;
                font-family: $font-family;
                font-style: italic;
                &:focus{
                    outline: none;
                }
            }
            button{
                border: 1px solid #232323;
                margin-left: -6px;
                border-radius: 0 50px 50px 0;
                border-color: rgba(35, 35, 35, 0.1);
                letter-spacing: 1px;
                padding-right: 3.25em;
                padding-left: 3.25em;
                margin-bottom: 5px;
                font-size: $heading4;
                font-family: $title-font;
                color: #fff;
                background: #425cbb;
                height: 52px;
                padding-top: 7px;
            }
        }
        h6{
            padding-top: 15px;
        }
        ul{
            display: flex;
            list-style: none;
            margin-top: 20px;
            li{
                i{
                    color: #e9e9e9b7;
                    font-size: $text-size;
                    cursor: pointer;
                    @include transition(all 0.4s);
                    &:hover{
                        color: #fff;
                    }
                }
            }
            .footer-icons{
                padding-left: 30px;
            }
        }
    }
}

#copyright{
    padding: 30px 0 50px 0;
    background-color: #1e1e1e;
    span{
        color: #f5f5f5;
        opacity: 0.5;
        font-size: 0.6875em;
    }
    i{
        color: #f5f5f5;
        background: #3d3d3d; 
        width: 53px;
        height: 53px;
        border-radius: 50%;
        text-align: center;
        line-height: 50px;
        font-size: 22px;
        position: absolute;
        right: 0;
        top: -60px;
        @include transition(all 0.3s);
        &:hover{
            transform: translateY(-5px);
        }
    }
}


