#shop-cards{
    padding-top: 190px;
    padding-bottom: 150px;
    background-color: #fdfdfd;
    .shopcard-header{
        h1{
            font-size: 4em;
            font-family: $title-font;
            font-weight: 600;
            color: $title-color;
        }
        p{
            padding-top: 10px;
            font-size: $heading2;
            color: $text-color;
            font-family: $font-family;
        }
    }
    .shop-card-buttons{
        margin-top: 100px;
        list-style: none;
        li{
            font-size: $text-size;
            font-style: italic;
            display: inline;
            color: $text-color;
            opacity: 0.5;
            padding-right: 30px;
            font-family: $font-family;
            cursor: pointer;
        }
        .active{
            color: $title-color;
            opacity: 0.8;
        }
    }
    .shop-card-content{
        position: relative;
        cursor: pointer;
        img{
            max-width: 100%; 
        }
        .card-content{
            background-color: #fff;
            padding: 30px;
            .card-title{
                h6{
                    opacity: 0.3;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    font-weight: 400;
                    font-family: $title-font;
                    font-size: $heading4;
                }
                h5{
                    font-size: $text-size;
                    line-height: 1.625em;
                    font-weight: 600;
                    font-family: $title-font;
                }
            }
            .card-price{
                position: absolute;
                right: 30px;
                span{
                    color: #767676;
                    display: block;
                }
                .prev-price{
                    opacity: 0.3;
                    text-decoration: line-through;
                }
            }
        }
        @include transition(all 0.4s);
        &:hover{
            box-shadow: 0px 0px 11px 2px #e7e7e7;
        }
    }
    .card-navigation{
        width: 100%;
        
        .navigation-list{
            border: none;
            list-style: none;
            display: flex;
            justify-content: center;
            li{
                margin: 10px 3px;
                padding: 9px 0;
                cursor: pointer;
                height: 35px;
                width: 35px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                text-align: center;
                a{
                    color: #232323;
                    font-size: $heading4;
                    text-decoration: none;
                }
                &:hover{
                    background: #ececec;
                }
            }
            .active{
                background: #ececec;
            }
        }
    }
}
