
$primary-color: #f8f8f8;
$secondary-color: #425cbb;
$text-color: #767676;
$title-color: #343434;
$title-font: 'Montserrat', sans-serif;
$font-family: 'Lora', 'Helvetica', 'Arial', sans-serif;
$heading1: 2em;
$heading2: 1.4375em;
$heading3: 1.625em;
$heading4: 0.625em;
$text-size: 1em;